@use "sass:math";

.bubble {
	> *,
	> * > .message  {
		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				animation: fade-in 1s ease-in-out;
				animation-delay: #{math.div($i, 1)}s;
				animation-fill-mode: forwards;
				animation-iteration-count: 1;
				opacity: 0;
			}
		}
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateY(10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
