.chat__input-field {
  border-radius: 1.25rem;
}

.chat__input-field > form {
  position: relative;
  display: flex;
  justify-content: center;
}

.chat__input-field > form > input {
  position: fixed;
  bottom: 30px;
  width: 60%;
  padding: 1.25rem;
  border: 1px solid gray;
  border-radius: 3px;
}

.chat__input-field > form > button {
  display: none;
}
