.chatroom {
  flex: 0.7;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 15px;
}

.chatroom__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.chatroom__header-detail > p {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.chatroom__header-opts > p > .MuiSvgIcon-root {
  margin-right: .3rem !important;
  font-size: 1rem;
}

.chatroom__channel-data {
  text-transform: lowercase;
}

.chatroom__channel-data > .MuiSvgIcon-root {
  margin-left: 10px;
  font-size: 1rem;
}

.chatroom__channel-data > strong {
  font-size: 1rem;
}
