* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-color: #282a36;
  --app-secondary-color: #ffffff;
  --app-primary-color: #44475a;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}
