@import url('https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.18.0/inter.css');
@import 'tailwindcss/base';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  /* Firefox */
  scrollbar-color: var(--color-primary-700) rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

body,
html,
#__next {
  overflow: hidden;
  background-color: var(--color-primary-900);
  // font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  overflow: overlay;
  width: 8px;
}

::-webkit-scrollbar-track {
  display: initial;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary-700);
  border-radius: 5px;
}

::-webkit-resizer {
  background: var(--color-primary-700);
}

h1,
h2,
h3,
h4,
p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
p.bold {
  font-weight: 700;
}

:root {
  font-size: 1rem;

  --app-color: #282a36;
  --app-secondary-color: #fff;
  --color-outline-100: #44475a;
  --color-outline-200: #34384e;
  --color-button-text: #fff;
  --color-primary-100: #dee3ea;
  --color-primary-200: #b2bdcd;
  --color-primary-300: #5d7290;
  --color-primary-600: #031229;
  --color-primary-700: #1e2130;
  --color-primary-800: #171926;
  --color-primary-900: #11121d;
  --color-secondary-washed-out: #879eed;
  --color-secondary: #5575e7;
  --color-tertiary: #2fd6b5;
  --color-accent-glow: rgba(253, 77, 77, 0.3);
  --color-accent: #e53265;
  --color-accent-hover: #fd6868;
  --color-accent-disabled: #f5bfbf;
  --screen-height-reduction: 0;
  --color-primary-100-translucent: rgba(222, 227, 234, 0.15);
  --color-message-100: #ff2366;
  --color-message-200: #fd51d9;
  --color-message-300: #face15;
  --color-message-400: #8d4de8;
  --color-message-500: #6859ea;
  --color-message-600: #7ed321;
  --color-message-700: #56b2ba;
  --color-message-800: #0cf;
  --color-message-900: #f90;
  --color-message-1000: #ff6;
  --color-transparent-alt: #34384e80;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

p.small {
  font-size: 0.85rem;
}

audio {
  display: none !important;
  width: 0;
}

#__next {
  overflow-y: auto;
}

#nprogress {
  position: relative;
  z-index: 9999999;
}

#nprogress .bar {
  background: var(--color-accent-hover) !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px var(--color-accent-hover),
    0 0 5px var(--color-accent-hover) !important;
}

#nprogress .spinner-icon {
  border-top-color: var(--color-accent-hover) !important;
  border-left-color: var(--color-accent-hover) !important;
}

img.emoji {
  position: relative;
  top: -0.1em;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 0.05em 0 0.1em;
  cursor: text;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  vertical-align: middle;
}

.h-screen {
  height: calc(100vh - var(--screen-height-reduction));
}

button:focus {
  outline: none;
}
