.sidebar {
  overflow: auto;
  max-width: 260px;
  flex: 0.3;
  border-top: 1px solid var(--app-primary-color);
  background-color: var(--app-color);
  color: var(--app-secondary-color);
}

.sidebar__header {
  display: flex;
  padding: 13px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--app-primary-color);
}

.sidebar__header > .MuiSvgIcon-root {
  padding: 8px;
  background-color: var(--app-secondary-color);
  border-radius: 999px;
  color: var(--app-primary-color);
  font-size: 2rem;
}

.sidebar__info {
  flex: 1;
}

.sidebar__info > h2 {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 900;
}

.sidebar__info > h3 {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 400;
}

.sidebar > hr {
  border: 1px solid var(--app-primary-color);
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar__info > h3 > .MuiSvgIcon-root {
  margin-top: 1px;
  margin-right: 2px;
  color: green;
  font-size: 0.8rem;
}
